use_default_settings: true

.tests_infobox: &tests_infobox []
.test_rosebud: &test_rosebud []

general:
  debug: false
  instance_name: "TrippleK SearXNG"
  privacypolicy_url: false
  donation_url: false
  contact_url: false
  enable_metrics: true
  open_metrics: ''

brand:
  new_issue_url: https://github.com/searxng/searxng/issues/new
  docs_url: https://docs.searxng.org/
  public_instances: https://searx.space
  wiki_url: https://github.com/searxng/searxng/wiki
  issue_url: https://github.com/searxng/searxng/issues

categories_as_tabs:
  general:
  images:
  videos:
  news:
  map:
  music:
  it:
  science:
  files:
  social media:
  kenya:
  design:
  ai:
  python:

search:
  safe_search: 2
  autocomplete: "duckduckgo"
  autocomplete_min: 4
  favicon_resolver: "duckduckgo"
  default_lang: "en"
  ban_time_on_fail: 5
  max_ban_time_on_fail: 60
  suspended_times:
    SearxEngineAccessDenied: 3600
    SearxEngineCaptcha: 3600
    SearxEngineTooManyRequests: 5
    cf_SearxEngineCaptcha: 86400
    cf_SearxEngineAccessDenied: 86400
    recaptcha_SearxEngineCaptcha: 604800
  formats:
    - html
    - json
    - rss

server:
  port: 8888
  bind_address: "0.0.0.0"
  base_url: false
  limiter: true
  public_instance: false
  secret_key: "4Z2TOwrferScgsuejhe7883hr"
  image_proxy: true
  http_protocol_version: "1.1"
  method: "GET"
  default_http_headers:
    X-Content-Type-Options: nosniff
    X-Download-Options: noopen
    X-Robots-Tag: noindex, nofollow
    Referrer-Policy: no-referrer

ui:
  static_path: ""
  templates_path: ""
  query_in_title: false
  infinite_scroll: false
  default_theme: simple
  center_alignment: false
  default_locale: ""
  search_on_category_select: true
  hotkeys: default
  url_formatting: pretty

outgoing:
  request_timeout: 12.0
  useragent_suffix: ""
  pool_connections: 50
  pool_maxsize: 10
  enable_http2: true
  proxies:
    http: "http://nrjjxhvq-rotate:fu1ex5d5925r@p.webshare.io:80"
    https: "http://nrjjxhvq-rotate:fu1ex5d5925r@p.webshare.io:80"

plugins:
  searx.plugins.calculator.SXNGPlugin:
    active: true
  searx.plugins.hash_plugin.SXNGPlugin:
    active: true
  searx.plugins.self_info.SXNGPlugin:
    active: true
  searx.plugins.unit_converter.SXNGPlugin:
    active: true
  searx.plugins.ahmia_filter.SXNGPlugin:
    active: true
  searx.plugins.hostnames.SXNGPlugin:
    active: true
  searx.plugins.time_zone.SXNGPlugin:
    active: true
  searx.plugins.tracker_url_remover.SXNGPlugin:
    active: true

doi_resolvers:
  oadoi.org: 'https://oadoi.org/'
  doi.org: 'https://doi.org/'
  sci-hub.se: 'https://sci-hub.se/'
  sci-hub.st: 'https://sci-hub.st/'
  sci-hub.ru: 'https://sci-hub.ru/'
default_doi_resolver: 'oadoi.org'

engines:
  # -----------------------------
  # GLOBAL SEARCH (PROXY-FRIENDLY)
  # -----------------------------
  - name: bing
    engine: bing
    shortcut: bi
    disabled: false

  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: startpage
    engine: startpage
    shortcut: sp
    disabled: false

  - name: ecosia
    engine: xpath
    shortcut: eco
    categories: [general, web]
    search_url: https://www.ecosia.org/search?q={query}&p={pageno}
    results_xpath: //div[@data-test-id='mainline']//article
    url_xpath: .//h2/a/@href
    title_xpath: .//h2/a
    content_xpath: .//p[@data-test-id='result-snippet']
    paging: true
    first_page_num: 0
    timeout: 10.0
    disabled: false

  - name: whoogle
    engine: xpath
    shortcut: who
    categories: [general, web]
    search_url: https://whoogle.dcs0.hu/search?q={query}&p={pageno}
    results_xpath: //div[@class="g"]
    url_xpath: .//a/@href
    title_xpath: .//h3
    content_xpath: .//span[@class="aCOpRe"]
    paging: true
    first_page_num: 0
    timeout: 10.0
    disabled: false

  - name: metager
    engine: xpath
    shortcut: met
    categories: [general, web]
    search_url: https://metager.org/?q={query}&page={pageno}
    results_xpath: //div[@class="result"]
    url_xpath: .//h3/a/@href
    title_xpath: .//h3/a
    content_xpath: .//div[@class="result-description"]
    paging: true
    timeout: 10.0
    disabled: false

  # -----------------------------
  # KENYA-SPECIFIC
  # -----------------------------
  - name: tuko-news
    engine: xpath
    shortcut: tuko
    categories: [kenya, news]
    search_url: https://www.tuko.co.ke/search/?q={query}&page={pageno}
    results_xpath: //article[contains(@class,'search-item')]
    url_xpath: .//a/@href
    title_xpath: .//h3/a
    content_xpath: .//p
    thumbnail_xpath: .//img/@src
    paging: true
    first_page_num: 1
    timeout: 10.0
    disabled: false

  # -----------------------------
  # DESIGN ASSETS (CC0 / SAFE)
  # -----------------------------
  - name: reshot
    engine: xpath
    shortcut: rh
    categories: [design, images, icons]
    search_url: https://www.reshot.com/search/{query}?page={pageno}
    results_xpath: //a[contains(@class,'grid-item')]
    url_xpath: ./@href
    title_xpath: ./img/@alt
    content_xpath: ./img/@data-src
    thumbnail_xpath: ./img/@data-src
    paging: true
    timeout: 10.0
    disabled: false

  - name: storyset
    engine: xpath
    shortcut: stv
    categories: [design, illustrations]
    search_url: https://storyset.com/search/{query}/{pageno}
    results_xpath: //article[contains(@class,'story')]
    url_xpath: .//a/@href
    title_xpath: .//h3
    content_xpath: .//img/@src
    thumbnail_xpath: .//img/@src
    paging: true
    timeout: 10.0
    disabled: false

  - name: openmoji
    engine: xpath
    shortcut: emj
    categories: [design, icons]
    search_url: https://openmoji.org/library/?search={query}
    results_xpath: //a[contains(@class,'library-grid-item')]
    url_xpath: ./@href
    title_xpath: ./@title
    content_xpath: ./img/@src
    thumbnail_xpath: ./img/@src
    paging: false
    timeout: 6.0
    disabled: false

  # -----------------------------
  # AI / DEV
  # -----------------------------
  - name: huggingface
    engine: xpath
    shortcut: hf
    categories: [ai, models]
    search_url: https://huggingface.co/models?library=&q={query}&p={pageno}
    results_xpath: //article[contains(@class,'model-card')]
    url_xpath: .//a/@href
    title_xpath: .//h3
    content_xpath: .//p[@class='summary']
    paging: true
    timeout: 10.0
    disabled: false

  - name: paperswithcode
    engine: xpath
    shortcut: pwc
    categories: [ai, science, code]
    search_url: https://paperswithcode.com/search?q={query}&page={pageno}
    results_xpath: //div[contains(@class,'paper-card')]
    url_xpath: .//h1/a/@href
    title_xpath: .//h1/a
    content_xpath: .//p[@class='paper-abstract']
    paging: true
    timeout: 10.0
    disabled: false

  - name: pypi
    engine: xpath
    shortcut: pypi
    categories: [python, packages, it]
    search_url: https://pypi.org/search/?q={query}&page={pageno}
    results_xpath: /html/body/main/div/div/div/form/div/ul/li/a[@class="package-snippet"]
    url_xpath: ./@href
    title_xpath: ./h3/span[@class="package-snippet__name"]
    content_xpath: ./p
    paging: true
    first_page_num: 1
    timeout: 10.0
    disabled: false

  # -----------------------------
  # DISABLED: NON-WORKING / RISKY
  # -----------------------------
  - name: google
    disabled: true
  - name: brave
    disabled: true
  - name: mojeek
    disabled: true
  - name: petalsearch
    disabled: true
  - name: yep
    disabled: true
  - name: wikidata
    disabled: true
  - name: reddit-rss
    disabled: true
  - name: telegram-channel
    disabled: true
  - name: pexels
    disabled: true
  - name: pixabay
    disabled: true
  - name: baidu
    disabled: true
  - name: yandex
    disabled: true
  - name: sogou
    disabled: true
  - name: kagi
    disabled: true
  - name: qwant
    disabled: true
  - name: aliexpress-global
    disabled: true
  - name: jumia-ke
    disabled: true
  - name: jiji-ke
    disabled: true
  - name: kilimall-ke
    disabled: true
  - name: moko-furniture
    disabled: true
  - name: mybigorder-ke
    disabled: true
