general:
  debug: false
  instance_name: "SearXNG"
  privacypolicy_url: false
  donation_url: false
  contact_url: false
  enable_metrics: true
  open_metrics: ''

brand:
  new_issue_url: https://github.com/searxng/searxng/issues/new
  docs_url: https://docs.searxng.org/
  public_instances: https://searx.space
  wiki_url: https://github.com/searxng/searxng/wiki
  issue_url: https://github.com/searxng/searxng/issues

search:
  safe_search: 0  # No filtering
  autocomplete: "duckduckgo"  # Enable a more reliable autocomplete source
  autocomplete_min: 4
  favicon_resolver: "duckduckgo"  # Use a reliable favicon resolver
  default_lang: "auto"
  ban_time_on_fail: 5  # Short fail ban time
  max_ban_time_on_fail: 60  # Reduce max ban time
  suspended_times:
    SearxEngineAccessDenied: 3600  # Shorten suspension for access denied
    SearxEngineCaptcha: 3600  # Shorten captcha suspension
    SearxEngineTooManyRequests: 5  # Shorten too many requests suspension
    cf_SearxEngineCaptcha: 86400
    cf_SearxEngineAccessDenied: 86400
    recaptcha_SearxEngineCaptcha: 604800
  formats:
    - html
     - json

server:
  port: 8888
  bind_address: "0.0.0.0"  # Allow external access
  base_url: false
  limiter: true
  public_instance: true  # Enable public instance features
  secret_key: "4Z2TOwrferSce2"
  image_proxy: false
  http_protocol_version: "1.1"  # Use the latest protocol for better performance
  method: "GET"  # Use GET for better user experience
  default_http_headers:
    X-Content-Type-Options: nosniff
    X-Download-Options: noopen
    X-Robots-Tag: noindex, nofollow
    Referrer-Policy: no-referrer

valkey:
  # URL to connect valkey database. Is overwritten by ${SEARXNG_VALKEY_URL}.
  url: valkey://https://searxng-587s.onrender.com:6379/0

ui:
  static_path: ""
  templates_path: ""
  query_in_title: false
  infinite_scroll: false
  default_theme: simple
  center_alignment: false
  default_locale: ""
  search_on_category_select: true
  hotkeys: default
  url_formatting: pretty

outgoing:
  request_timeout: 3.0
  useragent_suffix: ""
  pool_connections: 100
  pool_maxsize: 20
  enable_http2: true

plugins:
  searx.plugins.calculator.SXNGPlugin:
    active: true
  searx.plugins.hash_plugin.SXNGPlugin:
    active: true
  searx.plugins.self_info.SXNGPlugin:
    active: true
  searx.plugins.unit_converter.SXNGPlugin:
    active: true
  searx.plugins.ahmia_filter.SXNGPlugin:
    active: true
  searx.plugins.hostnames.SXNGPlugin:
    active: true
  searx.plugins.time_zone.SXNGPlugin:
    active: true
  searx.plugins.tracker_url_remover.SXNGPlugin:
    active: true

doi_resolvers:
  oadoi.org: 'https://oadoi.org/'
  doi.org: 'https://doi.org/'
  sci-hub.se: 'https://sci-hub.se/'
  sci-hub.st: 'https://sci-hub.st/'
  sci-hub.ru: 'https://sci-hub.ru/'

default_doi_resolver: 'oadoi.org'
